<ion-header>
   <ion-title>
      Local Notifications Bug
   </ion-title>
</ion-header>

<ion-content [fullscreen]="true">
   <p>Two notifications are scheduled; one with id=1 and one with id=Number.MAX_SAFE_INTEGER. When the pending notifications 
      are retrieved from the plugin, we expect to see the same ids in the retrieved notifications. This fails on Android since
      a Java Integer is used for storing the id. A Java Integer can hold 2^31-1 while a Javascript number can hold 2^53-1. 
      Therefore, the Android implementation should be refactored to use Long instead of Integer for notification ids.
   </p>
   <div>
      <div>Scheduled notification ids: {{scheduledNotifications}}</div>
      <div>Pending notification ids: {{pendingNotifications}}</div>
   </div>
</ion-content>